/*
 * badges
 */

.badge {
	font-family: "Gill Sans MT", "Gill Sans", Calibri, sans-serif;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	.vertical-gradient(@primaryHighlightColor, @primaryColor);
	border: 2px solid white;
	box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.5);
}

.badge-group {
	white-space: nowrap;
}

#header {
	.badge {
		position: relative;
		vertical-align: top;
		margin-left: -2px;
		margin-top: -2px;
	}
}

/*
 * colored badges
 */

.badge-important {
	.vertical-gradient(@mediumGrey, @veryDarkGrey);
}
