/******************************************************************************\
|                                                                              |
|                                branding.less                                 |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2012-2019 Software Assurance Marketplace (SWAMP)        |
\******************************************************************************/

//
// branding colors
//

@brand-primary: @medium-gold;
@brand-primary-light: @light-gold;
@brand-primary-dark: @dark-gold;

@brand-secondary: @dark-gold;
@brand-secondary-light: @medium-gold;
@brand-secondary-dark: darken(@brand-secondary, 10%);

//
// modified branding colors
//

@brand-primary-highlight: @light-gold;
@brand-primary-hover: @dark-gold;
@brand-primary-background: lighten(@brand-primary-light, 20%);
@brand-primary-border: @medium-gold;

@brand-secondary-highlight: @medium-gold;