/*
 * embedded fonts
 */

@font-face {
	font-family: 'TradeGothic';
	src: url('../fonts/trade-gothic/TradeGothic.eot?') format('eot'),
		url('../fonts/trade-gothic/TradeGothic.otf') format('otf'),
		url('../fonts/trade-gothic/TradeGothic.woff') format('woff'),
		url('../fonts/trade-gothic/TradeGothic.ttf') format('truetype');
}

@font-face {
	font-family: 'TradeGothicBold';
	src: url('../fonts/trade-gothic-bold/TradeGothic-Bold.eot?') format('eot'),
		url('../fonts/trade-gothic-bold/TradeGothic-Bold.otf') format('otf'),
		url('../fonts/trade-gothic-bold/TradeGothic-Bold.woff') format('woff'),
		url('../fonts/trade-gothic-bold/TradeGothic-Bold.ttf') format('truetype');
}



