/******************************************************************************\
|                                                                              |
|                                 gemfiles.less                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2012-2020 Software Assurance Marketplace (SWAMP)        |
\******************************************************************************/

.gem-info {

	.comment {
		color: @light-grey;
		font-style: italic;
		&::before {
			content: "#"
		}	
	}

	.strlit {
		display: inline;
		&::before {
			content: "'"
		}
		&::after {
			content: "'"
		}
	}

	.symbol {
		color: @dark-gold;
		display: inline;
		&::before {
			content: ":"
		}

		.value {
			color: @dark-green;
			display: inline;
			&::before {
				color: @very-dark-grey;
				content: "=>";
				margin-left: .25em;
				margin-right: .25em;
			}
		}
	}

	ul {
		margin: 0;
		padding: 0;
		display: inline;
		li {
			display: inline;
			&::after {
				content: ", ";
			}
		}
		li:last-child {
			&::after {
				content: "";
			}
		}
	}

	.source {
		display: table;
		background: @very-very-very-light-grey;
		border-radius: 5px;
		margin-top: .5em;
		margin-bottom: .5em;
		padding: 5px;

		&::before {
			content: "source";
			font-weight: bold;
			margin-right: .5em;
		}
	}

	.ruby {
		display: table;
		background: lighten(@light-red, 30%);
		border-radius: 5px;
		margin-top: .5em;
		margin-bottom: .5em;
		padding: 5px;

		&::before {
			content: "ruby";
			font-weight: bold;
			margin-right: .5em;
		}
	}

	.gem {
		display: table;
		background: @very-very-very-light-grey;
		border-radius: 5px;
		margin-top: .5em;
		margin-bottom: .5em;
		padding: 5px;

		&::before {
			content: "gem";
			font-weight: bold;
			margin-right: .5em;
		}
	}

	.require {
		display: inline;
		background: @very-very-light-grey;
		border-radius: 5px;
		padding-left: 5px;
		padding-right: 5px;

		&::before {
			content: "require =>";
			font-weight: bold;
			margin-right: .5em;
		}	
	}

	.group {
		display: table;
		background: @ultra-light-grey;
		border-radius: 5px;
		margin-top: .5em;
		margin-bottom: .5em;
		padding: 5px;

		.id {
			&::before {
				content: "group";
				font-weight: bold;
				margin-right: .5em;
			}

			&::after {
				content: "do";
				font-weight: bold;
				margin-left: .5em;
			}
		}
		
		.gem {
			margin-left: 4em;
		}

		&::after {
			content: "end";
			font-weight: bold;
		}
	}
}
