/******************************************************************************\
|                                                                              |
|                              key-value-pairs.less                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2012-2020 Software Assurance Marketplace (SWAMP)        |
\******************************************************************************/

.key-value-pair {
	display: table;
	background: @very-very-very-light-grey;
	border-radius: 5px;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: 5px;

	.key {
		display: inline;
		font-weight: bold;
		&::after {
			content: ": "
		}	
	}

	.value {
		display: inline;
	}
}
