/******************************************************************************\
|                                                                              |
|                                  layout.less                                 |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2012-2020 Software Assurance Marketplace (SWAMP)        |
\******************************************************************************/

body {
	background-color: @ultra-light-grey;
	margin: 0;
}

.full-screen {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.horizontally-centered {
	text-align: center;
}

.vertically-centered {
	position: relative;
	top: 50%;
}

//
// main layout styles
//

#main {
	padding-top: 50px;
	height: 100%;
}

#page {
	height: 100%;
	display: flex;
	flex-direction: column;

	#content {
		margin-top: 50px;
	}

	&.full {
		#content {
			display: flex;
			flex-grow: 1;
			height: 100%;

			> .container {
				height: 100%;

				> .row {
					height: 100%;

					> .main.column {
						height: 100%;

						> .content {
							height: 100%;
						}
					}
				}
			}

			> div {
				height: 100%;
			}
		}
	}
}

//
// fix to ensure that ace scroll bars are visible
//

.ace_scrollbar-inner {
	background-color: white;
	opacity: 0.01;
}

//
// banner styles
//

.banner {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#icon {
	max-width: 50%;
}

//
// mobile banner styles
//

@media (max-width: @screen-xs-min) {
	#dashboard #icon {
		width: 75px;
	}

	/*
	.tagline {
		display: none;
	}
	*/

	.banner {
		max-width: 250px;
		margin-bottom: 10px;
	}
}

//
// main styles
//

.tagline {
	text-align: center;
	margin: 10px;
}

#content {
	.container {
		height: 100%;
		color: @dark-grey;
		background-color: white;
	}
}

#main.offset-top {
	margin-top: 50px;
}

#main.offset-bottom {
	margin-bottom: 50px;
}

.row {
	margin-left: 0;
	margin-right: 0;
}

.variable-columns .well {
	margin-left: 0;
	margin-right: 10px;
}

//
// content styles
//

.content {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

//
// responsive styles
//

.visible-xxs {
	display: none;
}

@media (max-width: 480px) {
	.hidden-xxs {
		display: none !important;
	}
	.visible-xxs {
		display: block !important;
	}
}

//
// remove margins for small window sizes
//

@media (max-width: 1024px) {
	.container {
		width: 100%;
	}
}

//
// medium content styles
//

@media (max-width: @screen-sm-min) {
	.content {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
}

//
// small content styles
//

@media (max-width: @screen-xs-min) {
	.content {
		padding-left: 0;
		padding-right: 0;
	}
}

//
// two column styles
//

.two-column {
	display: flex;
	margin-left: auto;
	margin-right: auto;

	&.left {
		.side.column {
			margin-right: 10px;
		}
	}

	&.right {
		flex-direction: row-reverse;

		.side.column {
			margin-left: 10px;
		}
	}

	.side.column {
		padding-top: 20px;
	}

	.main.column {
		flex-grow: 1;
	}
}

.main.column {
	.content {
		width: 100%;
		height: 100%;
		margin-top: 0;
	}
}

.top .main.column {
	height: 100%;
}

.bottom {
	.main.column {
		padding-bottom: 35px;
	}

	.side.column {
		#sidebar {
			bottom: 0;
		}
	}
}

//
// header and footer styles
//

#footer .container {
	color: black;
	border-top: 5px solid @brand-primary;
	padding-top: 15px;
	padding-bottom: 15px;
}

#footer .logo {
	float: right;
	margin-left: 20px;
}

//
// other layout styles
//

hr {
	border: 0;
	width: 100%;
	background-color: @brand-primary;
	height: 2px;
}

.spacing {
	display: inline-block;
	width: 25px
}

.well {
	background-color: @ultra-light-grey;
	border-radius: 10px;
	padding: 10px;
	border: none;

	h3 {
		margin-top: 0;
	}
}

.active.well:active {
	background-color: @ultra-light-grey;
}

.well.selected, .well.selected:hover {
	.vertical-gradient(@brand-primary-highlight, @brand-primary);
	color: white;
	h3 {
		color: white;
	}
}

.loading {
	width: 100%;
	text-align: center;
	padding: 5px;
	background: @ultra-light-grey;
	border-radius: 5px;

	.message {
		display: inline-block;
	}

	/*
	> .fa-spinner {
		font-size: 2em;
		margin: 10px;
	}
	*/
}

//
// panel styles
//

.panel {
	h2 {
		margin-top: 10px;
		margin-bottom: 0;
		margin-left: 20px;
	}
}

//
// scrollable styles
//

.vertically.scrollable {
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 10px;
}

//
// image styles
//

.photo {
	padding: 2px;
	box-shadow: 10px 10px 20px @medium-grey;
}

a .photo {
	border: 1px solid @brand-primary;
}

//
// figure / illustration styles
//

.figure.left {
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}

.figure.right {
	float: right;
	margin-left: 25px;
	margin-bottom: 25px;
}

//
// filter styles
//

.filters .btn-group {
	margin-right: 75px
}

//
// media query styles
//

@media (max-width: @screen-xs-min) {
	.col-sm-6 {
		padding-left: 0;
		padding-right: 0;
	}
}
