/******************************************************************************\
|                                                                              |
|                                    navs.less                                 |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2012-2020 Morgridge Institute for Research (MIR)        |
\******************************************************************************/

//
// link colors
//

@linkColor: @brand-primary;
@linkHoverColor: @brand-primary;

@navLinkColor: white;
@navLinkBackground: @brand-primary;

@navLinkHoverColor: white;
@navLinkHoverBackground: @very-very-dark-grey;

//
// dropdown colors
//

@dropdownColor: @dark-grey;
@dropdownBackground: white;
@dropdownLinkHoverColor: white;
@dropdownLinkHoverBackground: darken(@brand-primary, 10%);

//
// links
//

a {
	color: @linkColor;
	cursor: pointer;
}

a:hover, a:focus {
	color: @linkHoverColor;
}

.form-group, .well {
	a {
		text-decoration: underline;
	}
}

//
// general navigation
//

.nav {
	h2 {
		margin-top: 0;
	}
}

//
// nav bars 
//

.well.nav {
	padding: 5px;
	margin-bottom: 0;

	li {
		a {
			box-shadow: -2px -2px 2px -2px rgba(0, 0, 0, 0.5);

			i {
				color: @dark-grey;
				margin-right: 5px;
			}
		}
		a:hover {
			i {
				color: white;
			}		
		}
	}
}

.nav {
	li {
		min-width: 35px;
		text-align: center;
		color: @linkColor;

		i {
			color: @linkColor;
		}
	}
	
	li.selected, li.active, li a:hover {
		a {
			i {
				color: white;
			}
		}		
	}
}

.nav-justified > li {

	// prevent justified navs from stacking 
	//
	display: table-cell;
	width: 1%;
}

.nav-button-bar {
	float: right;
	margin-top: 15px;

	.items-per-page {
		float: left; 
	}

	.btn-group {
		margin-left: 50px;

		.page-info {
			display: inline-block; 
			float: left; 
			margin: 0 5px; 
			border: none
		}
	}

	input {
		text-align: right;
		line-height: 1em;
		padding: 3px 5px;
	}
}

//
// top navigation bar 
//

#header {
	.navbar, .navbar-inverse {
		background-color: @brand-primary;
		background-image: none;
		border: none;
		// box-shadow: 0 5px 10px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);

		.container {
			padding-left: 10px;
			padding-right: 10px;
		}

		.navbar-brand {
			color: white;
			margin-left: 0px;
			text-shadow: none;
			cursor: pointer;
		}

		.navbar-brand:hover {
			color: white;
		}

		.navbar-form {
			padding: 0;
			margin: 0;
		}

		.navbar-text {
			padding: 0;
			margin-left: 0;
			margin-right: 0;
			margin-top: 4px;
			margin-bottom: 0;
		}

		.btn {
			padding: 5px 10px;
			margin-top: 7px;
			margin-bottom: 5px;
			margin-left: 5px;
			margin-right: 5px;
		}

		.nav > li {
			cursor: pointer;
			label {
				margin: 0;
				margin-left: 5px;
				cursor: pointer;
			}

			i {
				color: @navLinkColor;
			}
		}

		.username {
			color: white;
		}
		.username .visible-sm {
			max-width: 75px;
			height: 20px;
			overflow: hidden;
		}

		#navbar {
			.nav-pills {
				> li {
					> a {
						padding: 8px 10px;
						color: @navLinkColor;

						i {
							color: @navLinkColor;
						}
					}

					&:hover, &.active {
						> a, > a:focus, > a:hover {
							color: @navLinkHoverColor;
							background-color: @navLinkHoverBackground;

							i {
								color: @navLinkHoverColor;
							}
						}
					}
				}
			}
		}
	}
}

//
// mobile dropdown nav bar
//

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
	max-height: 360px;
}

//
// nav pills
//

.nav-pills > li {
	> a {
		padding-right: 5px;
		padding-left: 5px;
	}
}

//
// nav tabs
//

 .nav-tabs > li {
 	margin-right: 5px;
 	
 	> a {
		padding-right: 5px;
		padding-left: 5px;
	}
}

//
// navbar navigation
//

.nav > li > a {
	color: @navLinkColor;
	text-shadow: none;

	label {
		margin-left: 5px;
	}
}

.nav > li > a:hover,
.nav > li > a:focus {
	color: white;
	background-color: @brand-primary-hover;

	label {
		color: white;
	}
}

/*
.nav > li > a:focus {
	border: 1px solid @brand-primary-border;
}
*/

//
// header navigation
//

#header {
	.nav > li > a {
		color: @navLinkColor;
		text-shadow: none;

		&:hover, &:active {
			color: @navLinkHoverColor;
			background: @navLinkHoverBackground;
		}
	}
}

//
// tiles
//

.tile {
	cursor: pointer;
}

.well.tile {
	box-shadow: -2px -2px 4px -2px rgba(0, 0, 0, 0.25) inset;

	li {
		i {
			color: @dark-grey;
		}

		a:hover {
			.vertical-gradient(@brand-primary-highlight, @brand-primary);
			color: white !important;
		}

		a {
			background: @very-very-light-grey;
		}
	}

	li:hover {
		i {
			color: white;
		}
	}
}

.well.tile:hover {
	color: @brand-primary;
}

.well.tile.selected:hover {
	color: white;
}

//
// dropdowns
//

.dropdown-menu {
	background-color: @dropdownBackground;
 }

 .dropdown-menu > li > a {
	color: @dropdownColor;
 }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	text-decoration: none;
	color: @dropdownLinkHoverColor;
	background: @dropdownLinkHoverBackground;
}

//
// dropdown carats
//

.nav .dropdown-toggle .caret {
	border-top-color: @linkColor;
	border-bottom-color: @linkColor;
}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
	border-top-color: @linkHoverColor;
 }

// 
// cause menus to show on hover rather than click
//

ul.nav li.dropdown:hover > ul.dropdown-menu{
	display: block;    
}

//
// breadcrumbs
//

.breadcrumb {
	background: transparent;
	padding: 0;
	margin-bottom: 20px;

	li {
		display: inline;
		
		i {
			margin-right: 5px;
		}
	}
}
