/******************************************************************************\
|                                                                              |
|                                  popovers.less                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2012-2019 Software Assurance Marketplace (SWAMP)        |
\******************************************************************************/

//
// popover border attributes
//

@popoverBorderWidth: 1px;
@popoverArrowBorderWidth: 2px;
@popoverBorderColor: @brand-primary;

//
// popover title
//

.popover-title {
	color: white;
	font-weight: bold;
	background-color: @brand-primary;
}

//
// popover body
//

.popover {
	border-color: @popoverBorderColor;
	border-width:  @popoverBorderWidth;
	padding: 0;

	.popover-content {
		max-height: 300px;
		color: @dark-grey;
		overflow: auto;
		word-break: normal;
	}
}

//
// native viewer popovers
//

td.code .popover {
	min-width: 600px;
	white-space: pre-wrap;
}

//
// popover arrow styles
//

.popover.right {
	.arrow {
		border-right-color: @popoverBorderColor;
	}
	.arrow:after {
		left: @popoverArrowBorderWidth;
	}
}

.popover.left {
	.arrow {
		border-left-color: @popoverBorderColor;
	}
	.arrow:after {
		right: @popoverArrowBorderWidth;
	}
}

.popover.top {
	.arrow {
		border-top-color: @popoverBorderColor;
	}
	.arrow:after {
		bottom: @popoverArrowBorderWidth;
	}
}

.popover.bottom {
	.arrow {
		border-bottom-color: @popoverBorderColor;
	}
	.arrow:after {
		top: @popoverArrowBorderWidth;
	}
}
