/******************************************************************************\
|                                                                              |
|                                   tables.less                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2012-2020 Morgridge Institute for Research (MIR)        |
\******************************************************************************/

//
// table colors
//

@table-header-color: @dark-grey;
@table-header-highlight: @brand-primary;
@odd-table-row-color: darken(@ultra-light-grey, 5%);
@even-table-row-color: @ultra-light-grey;

//
// table styles
//

table {
	width: 100%;

	//
	// table headers
	//

	thead {
		tr, tr.tablesorter {
			
			th {
				background-color: @table-header-color;
				// .vertical-gradient(@table-header-highlight, @table-header-color);
				color: white;
				white-space: nowrap;
			}

			th.headerSortDown, th.headerSortUp {
				background-color: @table-header-highlight;
				background-image: none;
			}
		}
	}

	//
	// table cells
	//

	th {
		color: white;
		font-size: 14px;
		text-align: center;
	}

	th, td {
		border: none;
		padding: 5px 10px;
	}

	td {
		vertical-align: top;

		// use available horizontal space
		//
		/*
		&:not(.append):not(.prepend) {
			width: 50%;
		}
		*/
	}

	td.unpadded {
		padding: 0;
	}

	tr:not(.first) {
		td.duplicate:not(.prepend):not(.append) {

			a, div, span {
				display: none;
			}
		}
	}

	//
	// select group checkboxes
	//

	/*
	tr.first.last {
		td.select-group input {
			display: none;
		}
	}
	*/
	
	//
	// zebra striping
	//

	tr:nth-child(odd) {
		td:not(.append):not(.prepend) {
			background-color: @odd-table-row-color;
		}
	}

	tr:nth-child(even) {
		td:not(.append):not(.prepend) {
			background-color: @even-table-row-color;
		}
	}

	tr.odd {
		td:not(.append):not(.prepend) {
			background-color: @odd-table-row-color;
		}

		&:not(.last) {
			td:not(.append):not(.prepend) {
				border-bottom: 1px solid @even-table-row-color;
			}
		}
	}

	tr.even {
		td:not(.append):not(.prepend) {
			background-color: @even-table-row-color;
		}

		&:not(.last) {
			td:not(.append):not(.prepend) {
				border-bottom: 1px solid @odd-table-row-color;
			}
		}
	}

	tr:last-child td, 
	tr td.prepend, 
	tr td.append {
		border-bottom: none;
	}

	//
	// rounded corners on first and last rows
	//

	thead {
		tr:first-child {
			td:first-child, th:first-child, .first {
				border-top-left-radius: 5px;
			}
			td:last-child, th:last-child, .last {
				border-top-right-radius: 5px;
			}
		}
	}
	
	tbody {
		tr:last-child {
			td:first-child, .first {
				border-bottom-left-radius: 5px;
			}
			td:last-child, .last {
				border-bottom-right-radius: 5px;
			}
		}
	}

	//
	// prepended and appended columns
	//

	th.prepend, th.append,
	td.prepend, td.append {
		width: 1px;
		border: none;
		padding: 0;
		background: none;

		input {
			margin: 7px 0;
		}

		button {
			margin: 7px 0;
		}
	}

	th.prepend, td.prepend {
		input, button {
			margin-right: 10px;
		}
	}

	th.append, td.append {
		input, button {
			margin-left: 10px;
		}
	}

	//
	// special columns
	//

	th.half-width {
		width: 50%;
	}

	td.reorder {
		padding: 5px;
	}

	td.package {
		.name {
			word-break: break-word;
		}
	}

	td.version-string {
		white-space: nowrap;
	}

	//
	// table cell elements
	//

	td {

		//
		// buttons
		//

		button {
			i {
				margin-left: 0;
				margin-bottom: 3px;
			}
		}

		//
		// forms
		//

		.form-group {
			margin-bottom: 0;
		}

		input[type="time"] {
			padding: 2px 10px !important;
			margin: 0 !important;
			line-height: 1em !important;
		}
		
		input[type="number"] {
			padding: 5px 10px !important;
			margin: 0 !important;
			line-height: 1em !important;
		}

		//
		// success / error cells
		//

		&.error {
			color: @medium-red;
		}

		&.success {
			color: @medium-green;
		}
	}

	//
	// table contents
	//

	tbody {
		ul {
			-webkit-padding-start: 10px;
		}

		.version, .version a {
			color: black;
			font-weight: bold;
			font-size: 14px;
		}
	}

	//
	// group selection
	//

	tr:not(.first) td.select-group input {
		display: none;
	}
}

//
// numbered tables
//

#show-numbering {
	margin-top: 20px;
}

//
// empty tables
//

table {
	thead[style="display: none;"] + tbody {
		div:not(.input-group):not(.input-group-addon) {
			text-align: center;
			background: @ultra-light-grey;
			padding: 5px;
			border-radius: 5px;
		}
	}
}

.empty-list {
	text-align: center;
	background: @ultra-light-grey;
	padding: 5px;
	border-radius: 5px;
}

//
// responsive tables
//

.table-responsive {
	border: none;
	overflow-x: auto;
	overflow-y: hidden;
}

//
// sortable tables
//

table.tablesorter {
	thead tr {
		.tablesorter-header:not(.sorter-false) {
			background-repeat: no-repeat;
			background-position: center right;
			cursor: pointer;
			margin-right: 0px;
			outline: none;

			.tablesorter-header-inner {
				background-image: url(../vendor/jquery/tablesorter/images/bg.gif);
				background-repeat: no-repeat;
				background-position: center right;
				padding-right: 20px;
			}
		}

		.tablesorter-headerAsc:not(.sorter-false) {
			background-color: @table-header-highlight;
			background-image: none;

			.tablesorter-header-inner {
				background-image: url(../vendor/jquery/tablesorter/images/asc.gif);
			}
		}

		.tablesorter-headerDesc:not(.sorter-false) {
			background-color: @table-header-highlight;
			background-image: none;

			.tablesorter-header-inner {
				background-image: url(../vendor/jquery/tablesorter/images/desc.gif);
			}
		}
	}
}

//
// small tables
//

@media (max-width: @screen-sm-min) {
	table {
		th {
			span {
				display: none;
			}
		}
		td {
			padding: 5px;
		}
	}
}

//
// condensed tables
//

table.condensed {
	th, td {
		padding: 0;
		max-width: 100px;	
	}

	th.date td.date {
		width: 1px;
	}
}

table {
	th.condensed,
	td.condensed {
		padding: 0;
		max-width: 100px;
	}
}

//
// centered tables
//

#run-queue-summary {
	text-align: center;
}

//
// numbered tables
//

table.numbered {
	counter-reset: row-number;

	tr {
		&::before {
			display: inline-block;
			content: '';
		}
	}

	tbody {
		tr {
			&::before {

				// numbering
				//
				content: counter(row-number) + '.';
				counter-increment: row-number;
				padding: 5px;
			}
		}
	}
}