/******************************************************************************\
|                                                                              |
|                                  tooltips.less                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2012-2020 Software Assurance Marketplace (SWAMP)        |
\******************************************************************************/

.tooltip-inner {
	background: @brand-primary;
}

.tooltip.in {
	opacity: 1;
}

.tooltip.left {
	margin-left: -15px;
}

.tooltip {
	font-size: 100%;

	&.top .tooltip-arrow {
		border-top-color: @brand-primary;
	}
	&.right .tooltip-arrow {
		border-right-color: @brand-primary;
	}
	&.left .tooltip-arrow {
		border-left-color: @brand-primary;
	}
	&.bottom .tooltip-arrow {
		border-bottom-color: @brand-primary;
	}
}